* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box {
  height: 100vh;
  background: linear-gradient(180deg, #eb3349, #f45e43);
}

.box div {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 1px 1px 1px 2px rgba(211, 211, 211, 0.356);
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
}

.box div:nth-child(1) {
  top: 20%;
  left: 20%;
  animation: animate 8s linear  infinite;
}

.box div:nth-child(2) {
  top: 26%;
  left: 89%;
  animation: animate 10s linear  infinite;
}

.box div:nth-child(3) {
  top: 80%;
  left: 90%;
  animation: animate 5s linear  infinite;
}

.box div:nth-child(4) {
  top: 65%;
  left: 75%;
  animation: animate 9s linear  infinite;
}

.box div:nth-child(5) {
  top: 90%;
  left: 10%;
  animation: animate 5s linear  infinite;
}

.box div:nth-child(6) {
  top: 30%;
  left: 60%;
  animation: animate 8s linear  infinite;
}

.box div:nth-child(7) {
  top: 70%;
  left: 33%;
  animation: animate 10s linear  infinite;
}

.box div:nth-child(8) {
  top: 75%;
  left: 60%;
  animation: animate 6s linear  infinite;
}

.box div:nth-child(9) {
  top: 23%;
  left: 50%;
  animation: animate 8s linear  infinite;
}

.box div:nth-child(10) {
  top: 10%;
  left: 5%;
  animation: animate 10s linear  infinite;
}

@keyframes animate {
  0% {
    transform: scale(0) translateY(0) rotate(50deg);
  }
  100% {
    transform: scale(1.6) translateY(-250px) rotate(360deg);
  }
}

.container {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container h2 {
  font-size: 50px;
  font-weight: bolder;
  color: aliceblue;
}
