* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #222;
}

.emboss-text {
  font-size: 180px;
  font-weight: bolder;
  letter-spacing: 5px;
  color: rgb(207, 207, 207);
  position: relative;
  text-shadow: 
    /* 3d layers */ 0px 0px 1px rgb(167, 167, 167),
    0px 1px 1px rgb(167, 167, 167), 0px 2px 1px rgb(167, 167, 167),
    1px 1px 1px rgb(167, 167, 167), 1px 2px 1px rgb(167, 167, 167),
    1px 3px 1px rgb(167, 167, 167), 2px 2px 1px rgb(167, 167, 167),
    2px 3px 1px rgb(167, 167, 167), 2px 4px 1px rgb(167, 167, 167),
    /* long soft bottom */ 1px 10px 30px rgb(0, 0, 0),
    1px 10px 70px rgb(0, 0, 0),
    /* short soft bottom */ 0px 5px 5px rgba(0, 0, 0, 0.8),
    /* left */ -5px 5px 20px rgba(0, 0, 0, 0.8),
    /* right */ -5px 5px 20px rgba(0, 0, 0, 0.8),
    /* white light */ 1px 1px 120px rgba(255, 255, 255, 0.5);
}

.emboss-text::after {
  content: "HELLO";
  position: absolute;
  font-size: 180px;
  font-weight: bolder;
  letter-spacing: 5px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-shadow: 0px 0px 100px rgba(11, 124, 199, 0.5);
  transition: all 0.5s;
  animation: textShadowCycle 10s linear 0s infinite;
}

@keyframes textShadowCycle {
  0% {
    text-shadow: 0px 0px 100px rgba(11, 124, 199, 0.5);
  }
  25% {
    text-shadow: 0px 0px 100px rgba(168, 11, 199, 0.5);
  }
  50% {
    text-shadow: 0px 0px 100px rgba(11, 199, 96, 0.5);
  }
  75% {
    text-shadow: 0px 0px 100px rgba(199, 11, 11, 0.5);
  }
  100% {
    text-shadow: 0px 0px 100px rgba(199, 96, 11, 0.5);
  }
}
